@charset "UTF-8";

/*NotoSansKR*/
@font-face {
    font-family:"NotoSansKR";
    font-weight:500;
    src: url("../fonts/notosans/NotoSansKR500.woff2") format("woff2"),
    url("../fonts/notosans/NotoSansKR500.woff") format("woff");
}
@font-face {
    font-family:"NotoSansKR";
    font-weight:700;
    src: url("../fonts/notosans/NotoSansKR700.woff2") format("woff2"),
    url("../fonts/notosans/NotoSansKR700.woff") format("woff");
}
@font-face {
    font-family:"NotoSansKR";
    font-weight:900;
    src: url("../fonts/notosans/NotoSansKR900.woff2") format("woff2"),
    url("../fonts/notosans/NotoSansKR900.woff") format("woff");
}
/*Pretendard*/
@font-face {
    font-family:"Pretendard";
    font-weight:300;
    src:url("../fonts/pretendard/web/static/woff2/Pretendard-Thin.woff2") format('woff2'),
    url("../fonts/pretendard/web/static/woff/Pretendard-Thin.woff") format('woff');
}
@font-face {
    font-family:"Pretendard";
    font-weight:400;
    src:url("../fonts/pretendard/web/static/woff2/Pretendard-Regular.woff2") format('woff2'),
    url("../fonts/pretendard/web/static/woff/Pretendard-Regular.woff") format('woff');
}
@font-face {
    font-family:"Pretendard";
    font-weight:500;
    src:url("../fonts/pretendard/web/static/woff2/Pretendard-Medium.woff2") format('woff2'),
    url("../fonts/pretendard/web/static/woff/Pretendard-Medium。woff") format('woff');
}
@font-face {
    font-family:"Pretendard";
    font-weight:600;
    src:url("../fonts/pretendard/web/static/woff2/Pretendard-Bold.woff2") format('woff2'),
    url("../fonts/pretendard/web/static/woff/Pretendard-Bold.woff") format('woff');
}
@font-face {
    font-family:"Pretendard";
    font-weight:700;
    src:url("../fonts/pretendard/web/static/woff2/Pretendard-ExtraBold.woff2") format('woff2'),
    url("../fonts/pretendard/web/static/woff/Pretendard-ExtraBold.woff") format('woff');
}
@font-face {
    font-family:"Pretendard";
    font-weight:900;
    src:url("../fonts/pretendard/web/static/woff2/Pretendard-Black.woff2") format('woff2'),
    url("../fonts/pretendard/web/static/woff/Pretendard-Black.woff") format('woff');
}